 /* min-width Largura minima. O elemento não pode ser menor que esse valor.
 trabalha com o crescimento de 480px quan
  */

 /* max-width Largura máxima. O elemento não pode ser maior que esse valor */

 .header {
    padding: 50px;
    background-color:red;
 }

 .section-1{
    padding: 150px;
    background-color:yellow;
 }

 .section-2{
    padding: 150px;
    background-color:blueviolet;
 }

 .rodape{
    padding:50px;
    background-color: chartreuse;
 }

 @media (max-width:480px){
    .header{
        background-color: blue;
    }
    .section-1{
        background-color: aqua;
    }
 }

