body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6; /* Distância entre linhas*/
}

header {
    background-color: #3498db;
    color: white;
    padding: 1rem; /* padding rem para consistência com o tamanho da fonte raiz */
    text-align: center;
}

.main-content{
    padding: 2rem;
    background-color: rgb(161, 253, 230);
    color:  #3498db;
}
.section {
    padding: 2rem; /* Padding em, relativo ao tamanho da fonte do pai */
    margin-bottom: 2em; /* Espaço abaixo de cada sessão */
    border-radius: 8px;
    position: relative; /**/
}

.section-1 {
    background-color: red;
    color: white;
}

.section-2 {
    background-color: rgb(0, 255, 21);
    color: white;
}

.section-3 {
    background-color: rgb(132, 0, 255);
    color: white;
}

.box{
    background-color: white;
    color: black;
    padding: 2rem; /* padding aumentado  para maior visibilidade */
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem; /* tamanho da fonte aumentado para maior legibilidade */
    box-sizing: border-box; /* incluir paading e borda no calculo da largura */
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
    width: calc(50% - 2rem); /*Largura ds caixas ajustada para caber duas por linhas com espaçamento*/
    float: left; /* Trabalha com a distruição dos elementos... */
}

.section::after{
    content:"";/* adiciona um elemento invisível após o conteudo da sessão */
    display: table;/* faz com que o elemento invisivel se comporte como bloco, forçando o contêiner a incluir elementos flutuantes */
    clear: both; /* Garante que o contêiner "limpe" os elementos flutuantes, evitando problemas de loyout */
}
/* Responsividade */


/* ajuste para telas grandes (largura acima de 1200px) */
@media (min-width: 1200px){
    .box {
        width: calc(33.333% - 2rem); /* largura de 33.333% para três caixas por linha */
    }
}