*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;/* garante que o preenchimento/padding seja incluido no calculo da largura, evitando que o conteudo ultrapasse a tela */
}

html{
    width:100%;
    height:100vh;
}

header{
    padding: min(5vh, 4rem); /* ajustando o padding para ser mais flexivel */
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* aqui começammos o posicionamento do header */

    position: sticky; /* posicionamento do header usando o stick, sendo um posicionamento fixo, porem distinto do fixed */
    top:0; /* espaçamento superior zerado, fazendo com que o header fique grudado ao topo */
    left:0; /* Espaçamento a esquerda zerando, fazendo com que o header fique grudado á esquerda */
    z-index: 999; /* Eixo de profundidade (Eixo Cartesiano) */
    box-shadow: 0 0.21rem 0.5rem white; /* primeiro valor sombra na direita (0) segundo valor sombra bottom (0.21rem) terceiro valor gradiant da sombra (0.5rem)*/
}

header img{
    height: 100px; 
    width: 100px;
}

header button{
    width: 13rem;
    height: 1.5rem;
    background-color:rgb(255, 0, 0);
    border-radius: 1rem;
    padding: 1.3rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-01{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgb(0, 0, 0)8.33%, rgb(56, 56, 56) 100%);
    width: 100%;
    padding: min(20vh, 6rem);
}

.section{
    color: white;
}

.section-02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgb(0, 0, 0)8.33%, rgb(56, 56, 56) 100%);
    width: 100%;
    padding: min(20vh, 6rem);
}

.div-1{
    font-size: 2em;
    margin: 1.2em;
}

.div-2 img{
    width: 30rem;
    margin: 5rem auto;
    display: block;
    border-radius:5px;

}

footer{
    background-color: #f52c15;
    width: 100%;
    padding: min(5vh, 4rem);
}

@media (max-width:830px) {
    header img{
        width:4rem;
        height:4rem;
        border-radius: 5px;
    }

    header button{
        width: 10rem;
        height:0.8rem;
    }

    .section-01 {    
        padding: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }

    .div-1 p{
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        padding:2rem;
        width: 100%;
        margin:2rem;
    }

    .div-2 img{
        width: 10rem;
        margin:0.2rem;
    }

  

    .section-02 {    
        padding: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }

    footer img{
        width:4rem;
        height:4rem;
        border-radius: 5px;
    }


}